@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    flex-direction: row;
    /* border: 2px solid yellow; */

}

.logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 176px;
    height: 90px;
    font-family: 'Poppins' b, sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color: #00899b;

}

.logo img {
    width: 23px;
}

.search {
    display: inline-flex;
    width: 75%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* border: 2px solid red; */
}

.inputBox {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    align-self: center;
    /* width: 80px; */
    height: 4rem;
    margin: 20px;

    /* border: 1px solid #686767; */
    width: 25%;
    padding: 9px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
    border: 2px solid silver;
    border-radius: 50px;
    /* padding: -1px 15px; */
    font-size: 15px;
    color: #464949;
}

.menu {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 80px; */
    height: 73px;
    list-style: none;

}

.menu li a {
    display: flex;
    /* flex-direction: column; */
    /* width: 10px; */
    height: 30px;
    margin: 0 5px;
    font-size: 18px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
}
.nav-Buttons{
    display: none;
    position: relative;
    /* right: 10%; */
    color: #464949;
    font-size: 2rem;
}

.socialContainer {
    display: flex;
    justify-content: space-between;
}

.socialContainer ul li {
    font-family: 'Poppins', sans-serif;
    display: inline;
    flex-direction: row;
    margin: 0 5px 0 5px;

}

.socialContainer ul li a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

/* .container ul li a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
} */
/* .instagram{
    display: flex;
    float: left;
    flex-direction: row;
    color: #464949;
}
.linkedin{
    display: flex;
    float: left;
    flex-direction: row;
    color: #464949; 
} */
hr {
    border-top: 1px solid gainsboro;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid violet; */
    max-width: 100%;
    height: 50rem;
}

/* #myCarousel {
    width: 100%;
} */

.carousel-inner {
    display: flex;
    /* justify-content: right; */
    /* border: 2px solid blue; */
    /* align-items: right; */
    /* align-self: flex-end; */
    border-radius: 15px;
    background: #c1dcdc;
    width: 100%;
    height: 50rem;


}

.item {
    /* background-color: black; */
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    /* border: 2px solid red; */
    /* flex-direction: row; */
    width: 100%;
}

/* .carousel-inner.carousel-caption {
    display: flex;
    justify-content: center;
    align-items: start;
} */

.item img {
    /* display: flex; */
    /* justify-content: right; */
    width: 50%;
    /* height: 60px; */
    /* border: 2px solid aqua; */
    margin: 0 0 0 50rem;
    /* margin: auto; */

}

/* .carousel-inner h3,
p {
    text-align: left;
    position: relative;
} */

.carousel-caption {
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    position: relative;
    width: 38rem;
    height: 30rem;
    margin: 1rem 0rem 15rem -20rem;


}

.carousel-caption h3 {
    font-size: 4rem;
    color: #00899b;
    font-weight: bolder;
    text-align: left;
}

.carousel-caption p {

    color: black;
    font-weight: bold;
    text-align: left;
    text-shadow: none;
}

.btnn {
    color: gray;
    width: 150px;
    height: 40px;
    border-radius: 30px;
    font-weight: bolder;
    background: white;
    border: none;
    padding: 8px;

}

/* .slider {
    margin: 12px auto;
    width: 70vw;
    overflow: hidden;
    border: 1px solid gainsboro;
    border-radius: 20px;

} */

/* .image {
    float: right;
} */

.card {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: row;
}

.card-item {
    margin: 0 15px;
    width: 270px;
    height: 200px;
}

.card-item p {
    width: 260px;
    margin: 10px 0;
    color: gray;
}

.scroll {
    overflow: auto;
    /* white-space: nowrap; */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-items {
    margin: 0 20px 0 0;
}

.card-items img {
    border-radius: 7px;
}

.lines p {
    /* display: flex;
    justify-self: center;
    align-items: center;  */
    color: black;
    font-size: 18px;
}

.btn {
    background: #81c9d4;
    width: 115px;
    height: 30px;
    border: 2px solid red;
    font-weight: bolder;
}

.products {
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
}

.moreContainer {
    column-gap: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas:
        "con1 con2 con2"
        "con1 con3 con4";
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto auto;
    row-gap: 10px;
}

.moreContainer .con1 {
    display: flex;
    height: 51rem;
    width: 90%;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
    border-radius: 10px;
    border: 2px solid #adb5bd;
    margin: 10px 0 5px 70px;
    grid-area: con1;
    text-align: center;
    position: relative;
    color: white;
}

.con1 .card-img {
    width: 50%;
    height: 57%;
}

.moreContainer .con2 {
    display: flex;
    height: 30rem;
    width: 80%;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    border-radius: 10px;
    border: 2px solid #adb5bd;
    margin: 10px 20px 0 0;
    grid-area: con2;
    text-align: center;
    position: relative;
    color: white;
}

.con2 .card-img {
    width: 44%;
    height: 85%;
}

.moreContainer .con3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 80%;
    /* background-color: gainsboro; */
    border-radius: 10px;
    border: 2px solid #adb5bd;
    margin: 0 5px 5px 0;
    grid-area: con3;
    text-align: center;
    position: relative;
    color: white;
}

.con3 .card-img {
    width: 58%;
    height: 70%;
}

.moreContainer .con4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 80%;
    /* background-color: green; */
    border-radius: 10px;
    border: 2px solid #adb5bd;
    margin: 0 0 5px -75px;
    grid-area: con4;
    text-align: center;
    position: relative;
    color: white;
}

.con4 .card-img {
    width: 56%;
    height: 70%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bolder;
    font-size: large;
}

.centered:hover {
    font-size: 20px;
}

.con1:hover {
    background-color: whitesmoke;
    font-size: 400px;
}

.con2:hover {
    background-color: whitesmoke;
}

.con3:hover {
    background-color: whitesmoke;
}

.con4:hover {
    background-color: whitesmoke;
}

.customerReviews {
    background-color: #d8fbff;
    margin-top: 2rem;
    padding: 4rem 2rem;
    position: relative;
    width: 100%;
    height: 50rem;
}

.customer {
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
}

.movingPanel {
    margin-top: 25px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    width: 100%;
    height: 65vh;
    overflow-x: hidden;
    border: 2px solid red;
}

/* .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.overlay::before {
    top: 0;
    left: 0;
    background: linear-gradient(to right, var(--gradient-color));
    content: "";
    height: 100%;
    position: absolute;
    width: var(--gradient-width);
    z-index: 2;
}

.overlay::after {
    background: linear-gradient(to right, var(--gradient-color));
    content: "";
    height: 100%;
    position: absolute;
    width: var(--gradient-width);
    z-index: 2;
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
} */

marquee {
    width: 100vw;
    /* transform: translateX(100%); */
    animation: marquee 3s linear 1s infinite running slide-in;
}

/* @keyframes marquee {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
} */

.reviewContainer {
    display: flex;
    flex-direction: row;
    /* border: 2px solid brown; */
}

.reviews1 {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 6px 47px 0 #264e761a;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1.5rem;
    transform: rotate(-2deg);
    width: 300px;
    height: 300px;
}

.reviews2 {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 6px 47px 0 #264e761a;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1.5rem;
    transform: rotate(2deg);
    width: 300px;
    height: 300px;
}

.customerDetail {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.customerName {
    font-weight: bolder;
}

.customerRating {
    font-weight: bolder;
}

.customerRating img {
    vertical-align: middle;
    width: 18px;
}

.customerText {
    font-size: 1.8rem;
    font-weight: bold;
}

.box {
    margin: 3rem 0 3rem 0;
}

.choose {
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 3rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cardFlip {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 250px;
    margin-top: 1rem;
    perspective: 1000px;
    width: 300px;
}

.flipContent {
    background-color: none;
    border-radius: 10px;
    display: grid;
    height: 100%;
    place-items: center;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in;
    width: 100%;
}

.cardFlip:hover .flipContent {
    transform: rotateY(180deg);
}

.frontCard,
.backCard {
    backface-visibility: hidden;
    border-radius: 10px;
    height: 250px;
    position: absolute;
    width: 300px;
    /* background-color: var(--white-color); */
    border: 2px solid #dddddd1f;
    box-shadow: 0 6px 47px 0 #264e761a;
    display: grid;
    place-items: center;
}

.frontCard {
    transform: rotateY(0deg);
}

.backCard {
    background-color: #058c9e;
    color: white;
    transform: rotateY(180deg);
    font-size: 1.8rem;
    /* text-align: center; */
}

.whatsapp {
    display: flex;
    justify-content: center;
    float: right;
    flex-direction: row-reverse;
    position: fixed;
    right: .5%;
    top: 90%;
    transform: translateY(-50%);
    z-index: 1;
}

.whatsapp a {
    display: block;
    text-align: center;
    padding: 12px;

}

.WhatsappIcon img {
    width: 50px;
    background: #3C3;
    color: white;
    border-radius: 50px;
}

.footer {
    background-color: #005e6a;
    color: #fff;
    height: auto;
    margin-top: 15rem;
    padding: 2rem;
    position: relative;
    width: 100%;
}

.footer::after,
.footer::before {
    background: #00a1b6;
    top: 1;
    transform: skewY(-3deg);
    transform-origin: bottom left;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: -1;
}

.footer::after {
    background: #005e6a;
    transform: skewY(4deg);
    transform-origin: top right;
}

.subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    font-size: 25px;
    font-weight: bolder;
    margin: 10px 0;
}

.subscribe p {
    color: white;
    font-weight: 500;
    margin: 0 0 1rem 0;
}

.subscribeForm {
    background-color: hsla(0, 0%, 100%, .168);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 50px;
    width: fit-content;
    padding: 5px 10px;

}

.subscribeForm input {
    background-color: hsla(0, 0%, 100%, 0);
    border: 0;
    border-radius: 50px;
    color: #fff;
    font-size: 15px;
    height: 50px;
    padding: 12px 20px;
}

.subscribeForm input::placeholder {
    color: hsla(0, 0%, 100%, .86);
    font-size: 15px;
}

.subscribeForm button {
    background-color: #00a1b6;
    border-radius: 50px;
    border: 0;
    padding: 10px 20px;
    color: #fff;
    font-size: inherit;
    font-weight: 600;
}

.hr {
    opacity: .25;
    width: 80%;
    margin: 1rem auto;
    columns: inherit;
}

.footer2,
.footerLogo,
.footerServices {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.footerLogo {
    margin: 1.5rem 0;
}

.footerServices {
    margin: 10px 0;
}

.footerServices ul li {
    list-style: none;
    font-size: 15px;
    margin: 7px 0;
    /* color: white; */
}

.footerServices ul li img {
    width: 18px;
    margin: 0 0.5rem;
}

.footerServices ul li a {
    color: white;
    font-weight: bolder;
}

.footerBottom {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: .5rem;
    width: 100%;
}

.address {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 30px 0;
}

.footerIcons {
    color: #fff;
    font-size: 1.2rem;
}